.seat {
width: 65px;
height: 65px;
margin: 5px;
display: inline-block;
background-color: #e5e5e5;
border: 1px solid #ccc;
cursor: pointer;
}

.selected {
width: 65px;
height: 65px;
margin: 5px;
display: inline-block;
background-color: #ff0000;
border: 1px solid #ccc;
cursor: pointer;

}